@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.main-container {
  padding: 60px 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 2s ease;
}

.main-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.row {
  display: flex;
  align-items: top;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 20px;
  line-height: 40px;
  animation: fadeInUp 2s ease-out;
}

.about-title {
  font-size: 20px;
  font-weight: 600;
  color: #051729;
  line-height: 24px;
  margin-bottom: 15px;
}

.about-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 10px;
  color: #7a7f88;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  line-height: 17px;
  letter-spacing: normal;
  height: 51px;
  color: #fff;
  background: #90c73e;
  outline: none;
  border: 1px solid transparent;
  padding: 12px;
  cursor: pointer;
  width: 240px;
  margin-top: 15px;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  animation: fadeInScaleUp 2s ease-out;
}

.action-btn:hover {
  color: #90c73e;
  background-color: #fff;
  border-color: #90c73e;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-grow: 1;
  animation: zoomIn 2s ease-out;
}

@media (max-width: 768px) {
  .main-container {
    padding: 20px;
  }

  .row {
    gap: 30px;
  }

  .title {
    text-align: center;
  }
}
