<div class="container-fluid main-container">
  <div class="row top-row">
    <div class="col-md-4">
      <h2 class="title">LeEmpire</h2>
      <p class="footer-text">Your trusted cleaning service provider.</p>
    </div>

    <div class="col-md-4">
      <h4 class="footer-title">Menu</h4>
      <ul class="menu-links">
        <li><a (click)="navigateTo('home')">Home</a></li>
        <li><a (click)="navigateTo('about')">About</a></li>
        <li><a (click)="navigateTo('services')">Services</a></li>
        <li><a (click)="navigateTo('contact')">Contact</a></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h4 class="footer-title">Follow Us</h4>
      <div class="social-icons">
        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>

  <div class="credits">
    <p class="footer-text">
      &copy; <span id="currentYear">{{ currentYear }}</span> LeEmpire. All
      rights reserved.
    </p>
  </div>
</div>
