<nav class="navbar">
  <div class="navbar-container">
    <a class="logo brand-name" href="#">LeEmpire Cleaning</a>

    <div class="menu-icon" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <ul class="nav-links" [class.active]="isMenuOpen">
      <li>
        <a class="nav-link" [class.active]="activeLink==='home'" (click)="navigateTo('home')">Home</a>
      </li>
      <li>
        <a class="nav-link" [class.active]="activeLink==='about'" (click)="navigateTo('about')">About</a>
      </li>
      <li>
        <a class="nav-link" [class.active]="activeLink==='services'" (click)="navigateTo('services')">Services</a>
      </li>
      <li>
        <a class="nav-link" [class.active]="activeLink==='contact'" (click)="navigateTo('contact')">Contact</a>
      </li>
    </ul>
  </div>
</nav>
