<nav class="navbar">
  <div class="navbar-container">
    <a href="#" class="logo"
      ><span class="brand-name">LeEmpire</span> Cleaning Service</a
    >

    <div class="menu-icon" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <ul class="nav-links" [class.active]="isMenuOpen">
      <li><a (click)="navigateTo('home')">Home</a></li>
      <li><a (click)="navigateTo('about')">About</a></li>
      <li><a (click)="navigateTo('services')">Services</a></li>
      <li><a (click)="navigateTo('contact')">Contact</a></li>
    </ul>
  </div>
</nav>
